<header id="home_header">
  <img id="header_seal" src="/assets/images/example_seal.png" alt="Alton Seal" />
</header>
<nav id="home_nav">
  <ul id="home_link_categories">
    <li><a href="/community">Community</a></li>
    <li><a href="/organizations">Organizations</a></li>
    <li><a href="/events">Events</a></li>
    <li><a href="/news">News</a></li>
  </ul>
</nav>
<section id="home_body">
  <h1>Welcome!</h1>
  <p>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur auctor metus ipsum, vel molestie quam suscipit eleifend. Nullam vitae odio eu nibh euismod fringilla. Nulla rutrum fermentum mattis. Etiam tincidunt interdum elit. Fusce fringilla elementum sem nec placerat. Fusce scelerisque nulla rhoncus nibh laoreet, et tempor ante facilisis. Quisque condimentum sem vitae suscipit consequat. Vestibulum nec ante a risus efficitur dignissim vel nec nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed at nisl id odio egestas posuere. Vivamus a metus vel quam efficitur vehicula. Integer vitae ante libero. Sed euismod diam et eros rhoncus semper. Cras non scelerisque nulla.
    
    Nulla sit amet neque efficitur turpis gravida eleifend quis et libero. Maecenas interdum efficitur turpis eget hendrerit. Nam ultricies augue est, eu finibus sem pulvinar eget. Curabitur vel sapien accumsan, egestas est ut, finibus velit. Maecenas lacus metus, placerat nec ultrices euismod, facilisis id arcu. Pellentesque in neque vel enim blandit tincidunt. Aenean sit amet nulla nec nunc bibendum placerat. Praesent ultricies pharetra felis, non posuere tellus imperdiet id. Vivamus sagittis lorem varius, malesuada justo et, maximus magna.
    
    Aliquam gravida dolor in nulla vehicula, eu consectetur metus imperdiet. Sed non euismod lectus. Aenean faucibus turpis ac ligula hendrerit facilisis. Nulla mattis ac est a consequat. Phasellus a lorem turpis. Mauris tempus sagittis enim, sagittis egestas orci. Pellentesque commodo vel eros eu condimentum.
    
    Donec imperdiet non dolor eget dictum. Sed congue risus auctor massa tempor, sed lacinia neque volutpat. Etiam consequat nisi ut quam malesuada convallis. Fusce aliquam magna blandit orci consequat, id maximus purus pretium. Quisque consequat at lectus condimentum venenatis. Donec volutpat porttitor lorem non pharetra. Suspendisse potenti. Vestibulum nisl quam, hendrerit sit amet magna ut, posuere lobortis nisi. Phasellus elementum fringilla sollicitudin. Sed urna odio, porttitor a tincidunt eu, scelerisque ac nibh. Quisque quam nisi, condimentum in luctus ac, imperdiet a quam. Curabitur non rutrum dolor. Vivamus et commodo tellus. Quisque quis erat ullamcorper, finibus velit non, facilisis risus. Aenean pulvinar enim eu sollicitudin aliquet.
    
    Curabitur ornare dolor vel dictum gravida. In quam lorem, blandit id ultrices et, viverra sed mi. Aliquam suscipit eget purus ac fermentum. Morbi in metus nisl. Suspendisse ut imperdiet diam. Fusce non quam pellentesque, rutrum tellus eu, bibendum tortor. Cras at metus porttitor, rhoncus arcu ut, efficitur sem. In non lacus ut dui molestie fringilla. Fusce leo mauris, egestas id mauris sit amet, commodo vestibulum massa. </p>
</section>
<footer id="home_footer"></footer>